.pozadina {
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    content: 'PORTFOLIO';
    color: black;
    
}

.naslov {
    color: white;
    margin-top: 5vh;
    margin-bottom: 15vh;
}

.top h4,h1,button {
    margin-top: 20px;
}

.bel {
    color: black;
    width: 150px;
    background-color: white;
    border: none;
    border-radius: 50px;
}

.slika {
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
  }
  
  .slika:hover .overlay {
    opacity: 1;
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
  }