.navbar-color li a {
    color: black;
    margin-right: 30px;
}

.navbar-color a:hover {
    color: grey;
}

.btn-navbar {
    background: rgb(240, 77, 77);
    color: white;
    border: 1px solid rgb(240, 77, 77);
    border-radius: 25px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 80px;
}

.nav-logo {
    font-size: 50px;
    font-weight: bold;
    margin-left: 15%;
}


.box:hover {
    background-image: linear-gradient(rgb(98, 0, 255), rgba(149, 17, 167, 0.692));
    color: white;

}

.box {
    padding: 3%;


}


.fas {
    color: rgba(255, 0, 0, 0.836);
}

.fas:hover {
    color: white;
}


.my-5 {
    margin-top: 5rem;
}